@page
@model DoctorPatientCompleted
@{
    ViewData["Title"] = "SmileMate - Мои завершенные приемы";
}

<section class="doctor">
        <div class="container">
            <div class="doctor-wrapper">
                <h1 class="doctor-title main-title">Мои приемы</h1>
                <a class="reception-link--reception">Завершенные приемы</a>
                <div class="reception-table table">
                    <table class="reception-table--wrapper table-wrapper">
                        <thead>
                            <tr>
                                <th>Клиент</th>
                                <th>Дата</th>
                                <th>Время</th>
                                <th>Действие</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var reception in Model.Receptions)
                            {
                                var receptionDateTime = new DateTime(reception.Date.Year, reception.Date.Month, reception.Date.Day, reception.Time.Hour, reception.Time.Minute, reception.Time.Second);
                                <tr class="reception-row" data-date="@reception.Date" data-time="@reception.Time" data-datetime="@receptionDateTime.ToString("yyyy-MM-ddTHH:mm:ss")">
                                    <td>@reception.Client.Surname @reception.Client.Name @reception.Client.Patronymic</td>
                                    <td>@reception.Date.ToLongDateString()</td>
                                    <td>@reception.Time</td>
                                    <td>
                                        <form asp-page="/MedicalDiseaseCreate" method="get">
                                            <button type="submit" class="table-btn table-btn--history second-btn">Создать посещение</button>
                                            <input type="hidden" name="routevalue" value="doctor" />
                                            <input type="hidden" name="receptionid" value="@reception.Id" />
                                        </form>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>