@page
@model DoctorModel
@{
    ViewData["Title"] = "SmileMate - Врачи";
}

<section class="doctor">
        <div class="container">
            <div class="doctor-wrapper">
                <h1 class="doctor-title main-title">Врачи</h1>
                <div class="client-instrument instrument">
                    <form method="get" class="doctor-search search">
                    <div class="search-wrapper">
                        <input name="searchTerm" type="text" class="doctor-search--input search-input" placeholder="Поиск...">
                        <button type="submit" class="instrument-search--btn">
                            <img class="instrument-search--icon" src="/img/icon/search.svg">
                        </button>
                        </div>
                    </form>
                    <div class="instrument-border"></div>
                    <a asp-page="/DoctorCreate" class="instrument-btn main-btn">Зарегистрировать</a>
                </div>
                
                <div class="doctor-table table">
                    <table class="doctor-table--wrapper table-wrapper">
                        <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Почта</th>
                                <th>Действие</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var doctor in Model.Doctors)
                            {
                            <tr>
                                <td>@doctor.Surname</td>
                                <td>@doctor.Name</td>
                                <td>@doctor.Patronymic</td>
                                <td>@doctor.UserName</td>
                                <td>
                                    <a href="/DoctorEdit?doctorid=@doctor.Id" class="table-btn table-btn--info second-btn">Редактировать</a>
                                </td>
                                <td>
                                    <form method="post">
                                        <input type="hidden" name="doctorid" value="@doctor.Id"/>
                                        <button class="table-btn table-btn--info second-btn">Удалить</button>
                                    </form>
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>