@page
@model PatientModel
@{
    ViewData["Title"] = "SmileMate - Клиенты";
}


<section class="client">
        <div class="container">
            <div class="client-wrapper">
                <h1 class="client-title main-title">Клиенты</h1>
                <div class="client-instrument instrument">
                    <form method="get" class="instrument-search search">
                        <div class="search-wrapper">
                            <input name="searchTerm" type="text" class="instrument-search--input client-search--input search-input" placeholder="Поиск...">
                            <button class="instrument-search--btn">
                                <img class="instrument-search--icon" src="/img/icon/search.svg">
                            </button>
                        </div>
                    </form>
                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Doctor"))
                    {
                        <div class="instrument-border"></div>
                        <a asp-page="/PatientCreate" class="instrument-btn main-btn">Зарегистрировать</a>
                    }
                </div>
                <div class="client-table table">
                    <table class="client-table--wrapper table-wrapper">
                        <thead>
                            <tr>
                                <th>Фамилия</th>
                                <th>Имя</th>
                                <th>Отчество</th>
                                <th>Возраст</th>
                                <th>Номер телефона</th>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("Doctor"))
                                {
                                    <th></th>
                                }
                            <th>Действие</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var patient in Model.Patients)
                            {
                                <tr>
                                    <td>@patient.Surname</td>
                                    <td>@patient.Name</td>
                                    <td>@patient.Patronymic</td>
                                    <td>
                                    @{
                                        var age = DateTime.Now.Year - patient.BirthdayDate.Year;
                                        <text>@age</text>
                                    }
                                    </td>
                                    <td>@patient.PhoneNumber</td>
                                    @if (User.Identity.IsAuthenticated && !User.IsInRole("Doctor"))
                                    {
                                        <td>
                                            <a href="/ReceptionCreate?patientid=@patient.Id" class="table-btn table-btn--reg second-btn">Записать</a>
                                        </td>
                                    }
                                    
                                    <td>
                                        <a href="/PatientDetails?id=@patient.Id" class="table-btn table-btn--info second-btn">Подробности</a>
                                    </td>
                                    <td>
                                        <a href="/MedicalHistory?patientid=@patient.Id" class="table-btn table-btn--history second-btn">История посещения</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>