@page
@model ReceptionCreate
@{
    ViewData["Title"] = "SmileMate - Запись на прием";
}

<section class="reception-create">
    <div class="container">
        <h2 class="reception-create--title main-title">Запись на прием</h2>
        <div class="reception-create--wrapper">
            <h2 class="popup-title reception-patient">@Model.Patient.Surname @Model.Patient.Name @Model.Patient.Patronymic</h2>
                
                <form method="get" asp-page="ReceptionCreateTime" class="popup-form">
                    
                    <label class="input-label">Врач</label>
                    <div class="select">
                        <select class="input-doctor" name="selecteddoctor" id="format">
                            <option selected disabled>Выберите врача</option>
                            @foreach(var doctor in Model.Doctors)
                            {
                                <option value="@doctor.Id">@doctor.Surname @doctor.Name @doctor.Patronymic</option>
                            }
                        </select>
                    </div>

                    <label class="input-label">Дата</label>
                    <div class="select">
                        <select class="input-doctor" name="selecteddate" id="format">
                            <option selected disabled>Выберите дату</option>
                            @foreach(var date in Model.ThisWeek)
                            {
                            <option value="@date.ToShortDateString()">@date.ToLongDateString()</option>
                            }
                        </select>
                    </div>
                    <input type="hidden" name="patientid" value="@Model.Patient.Id"/>
                    @* <label class="input-label">Время</label>
                    <div class="select">
                        <select class="input-doctor" name="format" id="format">
                            <option selected disabled>Выберите врача</option>
                            <option value="">8:00</option>
                        <option value="">8:30</option>
                        </select>
                    </div> *@
                    <button asp-page="/ReceptionCreateTime" class="popup-btn main-btn">Записаться</button>
                </form>
        </div>
    </div>
</section>