@page
@model ReceptionModel
@{
    ViewData["Title"] = "SmileMate - Записи приемов";
}


<section class="reception">
        <div class="container">
            <div class="reception-wrapper">
                <h1 class="reception-title main-title">Приемы</h1>
                <form method="get" class="reception-search search">
                    <div class="search-wrapper">
                    <input name="searchTerm" type="text" class="instrument-search--input search-input" placeholder="Поиск...">
                    <button class="instrument-search--btn">
                            <img class="instrument-search--icon" src="/img/icon/search.svg">
                        </button>
                    </div>
                </form>
                <div class="reception-table table">
                    <table class="reception-table--wrapper table-wrapper">
                        <thead>
                            <tr>
                                <th>Клиент</th>
                                <th>Врач</th>
                                <th>Дата</th>
                                <th>Время</th>
                                <th></th>
                                <th>Действие</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach(var reception in Model.Receptions)
                            {
                                <tr>
                                    <td>@reception.Client.Surname @reception.Client.Name @reception.Client.Patronymic</td>
                                    <td>@reception.Doctor.Surname @reception.Doctor.Surname @reception.Doctor.Surname</td>
                                    <td>@reception.Date</td>
                                    <td>@reception.Time</td>
                                    <td>
                                        <a href="/MedicalDiseaseCreate?receptionid=@reception.Id" class="table-btn table-btn--history second-btn">Создать посещение</a>
                                    </td>
                                    <td>
                                        <a class="table-btn table-btn--close second-btn">Закрыть</a>
                                    </td>
                                    <td>
                                        <form method="post">
                                            <input type="hidden" name="receptionid" value="@reception.Id"/>
                                            <button type="submit" class="table-btn table-btn--delete second-btn">Удалить</button>
                                        </form>
                                        
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>