@page
@model ReceptionCompleted
@{
    ViewData["Title"] = "SmileMate - Завершенные приемы";
}


<section class="reception">
    <div class="container">
        <div class="reception-wrapper">
            <h1 class="reception-title main-title">Завершенные приемы</h1>
            <a asp-page="/Reception" class="reception-link--reception">Активные приемы</a>
            <form method="get" class="reception-search search">
                <div class="search-wrapper">
                <input name="searchTerm" type="text" class="instrument-search--input search-input" placeholder="Поиск...">
                <button class="instrument-search--btn">
                        <img class="instrument-search--icon" src="/img/icon/search.svg">
                    </button>
                </div>
            </form>
            <div class="reception-table table">
                <table class="reception-table--wrapper table-wrapper">
                    <thead>
                        <tr>
                            <th>Клиент</th>
                            <th>Врач</th>
                            <th>Дата</th>
                            <th>Время</th>
                            <th>Действие</th>
                            @if (User.Identity.IsAuthenticated && !User.IsInRole("MedicalWorker"))
                            {
                                <th></th>
                            }
                        </tr>
                    </thead>
                    <tbody id="receptionTableBody">
                        @foreach(var reception in Model.Receptions)
                        {
                            <tr class="reception-row" data-date="@reception.Date" data-time="@reception.Time">
                                <td>@reception.Client.Surname @reception.Client.Name @reception.Client.Patronymic</td>
                                <td>@reception.Doctor.Surname @reception.Doctor.Name @reception.Doctor.Patronymic</td>
                                <td>@reception.Date.ToLongDateString()</td>
                                <td>@reception.Time</td>
                                @if (User.Identity.IsAuthenticated && !User.IsInRole("MedicalWorker"))
                                {
                                    <td>
                                        <a href="/MedicalDiseaseCreate?receptionid=@reception.Id" class="table-btn table-btn--history second-btn">Создать посещение</a>
                                    </td>
                                }
                                @if (User.Identity.IsAuthenticated && !User.IsInRole("Doctor"))
                                {
                                    <td>    
                                        <form method="post">
                                            <input type="hidden" name="receptionid" value="@reception.Id"/>
                                            <button type="submit" class="table-btn table-btn--delete second-btn">Удалить</button>
                                        </form>
                                    </td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>