@page
@model ReceptionCreateTime
@{
    ViewData["Title"] = "SmileMate - Запись на прием";
}

<section class="reception-create">
    <div class="container">
        <h2 class="reception-create--title main-title">Запись на прием</h2>
        <div class="reception-create--wrapper">
            <h2 class="popup-title reception-patient">@Request.Query["patientSurname"] @Request.Query["patientName"] @Request.Query["patientPatronymic"]</h2>
                <form method="post" class="popup-form">
                    <label class="input-label">Время</label>
                    <div class="select">
                        <select class="input-doctor" name="time" id="format">
                            <option selected disabled>Выберите Время</option>
                            @foreach(var time in Model.Times)
                            {
                                <option value="@time">@time</option>
                            }

                        </select>
                    </div>
                    <input type="hidden" name="patientid" value="@Model.DoctorDate.SelectedPatient" />
                    <button class="popup-btn main-btn">Записаться</button>
                </form>
        </div>
    </div>
</section>